<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sv" ng-app="warehouseApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Varuhus</title>
        <meta name="description" content="En modell för hur varuhusen skulle kunna visas. Listan går att 'sortera' efter hur när de befinner sig, och tanken är att man ska kunna använda geolocation för att göra detta automatiskt beroende på var man befinner sig.">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../css/normalize.min.css">
        <link rel="stylesheet" href="../css/main.css">

        <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="controllers.js"></script>
    </head>
    <body ng-controller="warehouseCtrl">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <div class="header-container">
                <div class="wrap clearfix">
                    <header class="left clearfix">
                        <h1 class="title"><a href="../index.html">IKEA kopia</a></h1>
                    </header>
                    <div class="left clearfix">
                        <input type="text">
                        <button>Sök</button>
                    </div>
                    <div class="clearfix">
                        <div class="personal right clearfix">
                            <ul>
                                <li>För ditt företag</li>
                                <li>IKEA FAMILY</li>
                                <li>Min inköpslista</li>
                            </ul>
                        </div>
                        <div class="personal right clearfix">
                            <ul>
                                <li>Logga in</li>
                                <li>Min profil</li>
                                <li>Min kundvagn</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="wrapper clearfix clear">
                    <ul>
                        <li><a href="../index.html">Hem</a></li>
                        <li><a href="../sortiment/index.html">Sortiment</a></li>
                        <li><a href="../cart/index.html">Inköpslista</a></li>
                        <li><a href="#">Varuhus</a></li>
                        <li><a href="../kontakt.html">Kontakt</a></li>
                    </ul>
                </nav>
            </div>

            <div class="main-container">
                <div class="main wrapper clearfix">
                    <article>
                        <div class="wrap shadow geoloc"><p>Geolocation <br>
                            Samt sortering efter närhet till din plats</p>
                            <div>Sortera efter:
                                <select ng-model="orderProp">
                                    <option value="location">Plats</option>
                                    <option selected value="value">Ursprunglig sortering</option>
                                </select>
                            </div></div>
                            <div class="stores">
                            <div class="quarter left" ng-repeat="store in stores|orderBy:orderProp">
                                <img src="{{store.img}}" class="smallimg" alt />
                                <span class="textpadding">{{store.location}}</span>
                            </div>
                                <!-- <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Borlänge</span>
                                </div>
                                <div class="quarter left"><img class="smallimg" />
                                    <span class="textpadding">Göteborg Kållered</span>
                                </div>
                                <div class="quarter left"><img class="smallimg" />
                                    <span class="textpadding">Haparanda Tornio</span>
                                </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Jönköping</span>
                                </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Karlstad</span>
                                    </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Malmö</span>
                                </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Stockholm Kungens kurva</span>
                                </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Uppsala</span>
                                    </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Älmhult</span>
                                </div>
                                <div class="quarter left">
                                    <img class="smallimg" /><span class="textpadding">Örebro</span>
                                </div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Gävle</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Göteborg Bäckebol</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Helsingborg</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Kalmar</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Linköping</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Stockholm Barkarby</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Sundsvall</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Uddevalla</span></div>
                                <div class="quarter left"><img class="smallimg" /><span class="textpadding">Västersås</span></div> -->
                            </div>
                        </article>

                        <aside>
                        </aside>
                    </div> <!-- #main -->
                </div> <!-- #main-container -->

                <div class="footer-container">
                    <footer class="wrapper">
                        <p>Copyright Inter IKEA Systems B.V. 1999 - 2013 | <a href="#">Om Personuppgiftshantering</a> | <a href="#">Användning av cookies</a> | <a href="#">Köp- & leveransvillkor</a></p>
                    </footer>
                </div>
                <!--<script src="js/main.js"></script>-->

        <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>